.App {
  text-align: center;
}

.tabs {
  display: flex;
  height: 100vh;
}
.tabs.horizontal {
  flex-direction: column
}
.links {
  display: flex;
  flex-direction: column;
  width: 100px;
  background-color: black;
  border-right: 1px solid gray;
}

.tabs.horizontal .links {
  flex-direction: row;
  width: 100%;
  height: 35px;
  background-color: transparent
}

.tabs.horizontal .link {
  flex: 1;
  padding: 0;
  height: 100%;
  border-bottom: 2px solid transparent
}

.tabs.horizontal .link.active {
  border-bottom: 2px solid green
}

.link {
  height: 100px;
  color: white;
  padding: 10px;
  font-size: 13px;
  font-weight: bold;
  display: flex;
  justify-content: center;
  align-items: center;
  border-bottom: 1px solid gray;
  text-decoration: none;
}

.link.active {
  color: black;
  background-color: white;
}

.content {
  padding: 10px;
  flex: 1
}
